[submodule "external/pybind11"]
	path = external/pybind11
	url = https://github.com/pybind/pybind11
[submodule "external/matplotlib-cpp"]
	path = external/matplotlib-cpp
	url = https://github.com/lava/matplotlib-cpp
